@font-face {
    font-family: "Unbounded";
    src: url("fonts/Unbounded-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Unbounded-Black";
    src: url("fonts/Unbounded-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #11005B;
}

body {
    font-family: "Unbounded", sans-serif;
    color: #E4E4E9;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    position: relative;
    border-radius: 60px;
    z-index: 1;
    display: flex;
    margin-bottom: 60px;
    font-size: 1.375em;
}

.cats_video {
    z-index: -5;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0.35;
}


.header-left {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-left: 2rem;
    font-size: 16px;
}

.header-logo {
    width: 100%;
}

.header-text {
    font-size: 1.375em;
}

.header-btn {
    background-color: #FEB27B;
    border-radius: 66px;
    cursor: pointer;
    transition: .1s all;
}

.header-btn:active {
    scale: .95;
    box-shadow: 0px 6px 14px 0px #FF007D;
}

.header-btn-text {
    font-weight: 900;
    font-size: 2.2em;
    line-height: 250%;
    color: #110E31;
    padding: 0 2em;
    text-transform: uppercase;
    font-family: 'Unbounded-Black', sans-serif;
}


.header-right {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-right-video-container {
    overflow: hidden;
    width: 75%;
    border-radius: 12%;
}

.header-right-video {
    width: 100%;
    border-radius: 12%;
}

.top-ui {
    width: 60%;
}

.bot-ui {
    width: 60%;
}


/* AR section */

.dolia-pets-ar {
    width: 100%;
    max-width: 1440px;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}

.ar {
    background: #110E31;
    border-radius: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    margin-bottom: 6rem;

}

.cat-canister-container {
    position: absolute;
    top: -30%;
    left: 0;
    width: 45%;
    z-index: 100;
}

.cat-canister {
    width: 100%;
}

.ar-text-container {
    width: 50%;
    text-align: left;
}

.section-heading {
    background: linear-gradient(135deg, #5300DC 0%, #FF007D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: 90px;
    font-weight: 700;
    font-size: 6.25em;
    padding-top: 4.25rem;
    text-transform: uppercase;
}

.ar-text {
    font-size: 1.25em;
    padding: 1rem 4.6rem 4.6rem 0;
    font-family: 'Roboto', sans-serif;
}

.phone {
    display: flex;
    justify-content: center;
    position: relative;
    /* height: 100vh; */
    padding-top: 8rem;
    /* margin-bottom: 4rem; */
}

.phone-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 7rem;
}

.phone-left-text-container {
    background: #110E31;
    border-radius: 60px;
    text-align: center;
}

.phone-left-text {
    font-size: 1.25em;
    padding: 1.5rem 2.8rem;
    font-family: 'Roboto', sans-serif;
}

.pet-2 {
    width: 70%;
    margin-top: -1rem;
}


.phone-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
}

.phone-right-text-container {
    width: 82%;
    background: #110E31;
    border-radius: 60px;
    text-align: center;
    margin-top: -13rem;
}

.phone-right-text {
    font-size: 1.25em;
    padding: 1.5rem 2.8rem;
    font-family: 'Roboto', sans-serif;
}

.pet-1 {
    width: 60%;
    margin-top: -10rem;
}

.phone-video-container {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 60px;
    /* overflow: hidden; */
}

.phone-video {
    width: 100%;
    height: 100%;
    border: 2px solid #B1BFD8;
    border-radius: 60px;
}

.link {
    text-decoration: none;
    color: #FFC9A1;
}

/* activities */

.activities {
    width: 100%;
    max-width: 1440px;

}

.activities-top {
    position: relative;
    background-color: #110E31;
    border-radius: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5rem;
    /* padding-bottom: 7.8rem; */
}

.activities-image-container {
    width: 40%;
    text-align: center;
}

.activities-image {
    width: 70%;
}

.activities-content {
    width: 60%;
    padding-bottom: 8.8rem;
}

.actions-text {
    font-family: 'Roboto', sans-serif;
    max-width: 707px;
    font-size: 1.25em;
    margin-top: 1rem;
}

.like-icon {
    position: absolute;
    left: 50%;
    bottom: -18%;
    width: 18%;
}

.cart-icon {
    position: absolute;
    right: 5%;
    bottom: 0;
    width: 13%;
}

.activities-bot {
    display: flex;
    gap: 10px;
}

.stats {
    width: 50%;
    text-align: center;
}

.stats-picture {
    width: 100%;
}

.stats-text-container {
    background-color: #110E31;
    width: 100%;
    border-radius: 80px;
    margin-top: -1%;
    z-index: 10;
    position: relative;
}

.stats-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    padding: 2.3rem 2.68rem;
}


.jumping {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.jump-video {
    position: absolute;
    z-index: -1;
    top: -20%;
}

.jumping-picture {
    width: 100%;
}

.jumping-text-container {
    background-color: #110E31;
    width: 100%;
    border-radius: 80px;
    margin-top: -1%;
    z-index: 10;
    position: relative;
    max-height: 142px;

}

.jumping-text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    padding: 2.3rem 1.68rem;
}

footer {
    width: 100%;
    text-align: center;
    background: #110E31;
    border-radius: 60px 60px 0px 0px;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-heading {

    font-size: 2.3em;
    line-height: 1.3em;
    font-weight: 900;

}

.footer-heading-2 {
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 1.14em;
    line-height: 1.43em;
    font-weight: 700;
    padding: 0;
}

.footer-icons-container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-social {

    display: flex;
}

.footer-pets-logo {
    max-width: 174px;
    max-height: 140px;
}

.discord-icon {
    cursor: pointer;
}

.twitter-icon {
    cursor: pointer;
    padding-left: 0.5rem;
}

.yellow-text {
    color: #FFC9A1;
}


/* PRELOADER */

.preloader {
    width: 100%;
    height: 100vh;
    background: rgba(2, 7, 36, 1);
    z-index: 5001;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 5em;
    height: 5em;
    background: #3ac;
    border-radius: 100%;
    display: inline-block;
    animation: slide 1s 30;
}

.dot:nth-child(1) {
    animation-delay: 0.1s;
    background: #32aacc;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
    background: #64aacc;
}

.dot:nth-child(3) {
    animation-delay: 0.3s;
    background: #96aacc;
}

.dot:nth-child(4) {
    animation-delay: 0.4s;
    background: #c8aacc;
}

.dot:nth-child(5) {
    animation-delay: 0.5s;
    background: #faaacc;
}

@-moz-keyframes slide {
    0% {
        transform: scale(1);
    }

    50% {
        opacity: 0.3;
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes slide {
    0% {
        transform: scale(1);
    }

    50% {
        opacity: 0.3;
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

@-o-keyframes slide {
    0% {
        transform: scale(1);
    }

    50% {
        opacity: 0.3;
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes slide {
    0% {
        transform: scale(1);
    }

    50% {
        opacity: 0.3;
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    transition: 0.4s display;
    opacity: 0;
    display: none;
}

.loaded .preloader {
    display: none;
}




/* MEDIA MOBILE */

@media (max-width: 600px) {

    .cats_video {
        border-radius: 0;
    }
    body {
        font-size: 10px;
    }

    .header {
        flex-direction: column-reverse;

        height: 100vh;
    }

    .header-left {
        width: 100%;
        height: 50%;
        padding: 2rem;
        font-size: 10px;
    }

    .header-logo {
        width: 60%;
    }

    .header-right {
        width: 100%;
        height: 50%;
        padding-top: 1rem;
    }

    /* AR */

    .ar {
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin-bottom: 3rem;
    }

    .section-heading {
        padding-top: 2.25rem;
    }

    .cat-canister-container {
        right: 0;
        left: auto;
    }

    .ar-text-container {
        width: 100%;
    }

    .ar-text {
        padding: 1rem 0;
    }

    /* Phone */
    .phone {
        width: 100%;
        overflow: hidden;
        height: 100vh;
        text-align: center;
        padding-top: 0;
        flex-direction: column;
    }

    .phone-video-container {
        opacity: .4;
        left: 35%;
        top: 0%;
        transform: translate(0, 0);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* left: auto; */
    }

    .phone-video {
        width: auto;
        height: 100vh;
    }

    .phone-left {
        width: 100%;
        align-items: flex-start;
    }

    .phone-left-text-container {
        align-self: center;
        width: 80%;
    }

    .pet-2 {
        width: 50%;
        transform: rotate(45deg);
    }

    .phone-right {
        width: 100%;
        align-items: flex-end;

    }

    .pet-1 {
        width: 50%;
    }

    .phone-right-text-container {
        align-self: center;
        width: 85%;
        margin-top: -8rem;
    }


    /* Activities */
    .activities {
        width: 95%;
        margin-top: 1rem;
    }

    .activities-top {
        flex-direction: column;
        text-align: center;
        border-radius: 60px;
        padding: 0;
        position: relative;
        margin-top: 5rem;
        padding-top: 2rem;
    }

    .activities-image-container {
        width: 80%;
        margin-top: -6rem;
        z-index: 10;
    }

    .activities-content {
        width: 100%;
        margin-top: -1.7rem;
        padding-bottom: 2rem;
    }

    .activities .section-heading {
        padding-top: 0;
    }

    .actions-text {
        padding: 0 2rem 2rem;
    }


    .activities-bot {
        margin-top: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .like-icon {
        left: 13%;
        width: 20%;
        bottom: -12%;
    }

    .cart-icon {
        right: -2%;
        bottom: -23%;
        width: 30%;
    }

    .stats {
        width: 100%;
    }

    .stats-picture {
        width: 90%;
    }

    .stats-text {
        padding: 1.3em 1.6em;
    }

    .jumping {
        width: 100%;
        height: 50vh;
    }

    .jumping-picture {
        width: 60%;
    }

    .jumping-text {
        padding: 2.1em 2.4em;
    }

    footer {
        border-radius: 16.25px 16.25px 0px 0px;

    }
    .footer-pets-logo {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}



@media (max-width: 460px) {
    .header-logo {
        width: 80%;
    }

    .activities .section-heading {
        font-size: 4em;
    }

    .actions-text {
        margin-top: 0;
    }

    .activities-content {
        margin-top: -2.2rem;
        padding-bottom: 0.5rem;
    }

    .like-icon {
        bottom: -13%;
    }

    .cart-icon {
        right: -1%;
        bottom: -21%;
        width: 30%;
    }
}

@media (min-width: 461px) and (max-width: 520px) {
    .cart-icon {
        right: 0%;
        bottom: -18%;
        width: 30%;
    }
}


/* TABLETS */

@media (min-width: 601px) and (max-width: 1130px) {
    body {
        font-size: 12px;
    }

    .activities-top {
        border-radius: 10%;
    }
    .activities-content {
        padding-bottom: 5.5rem;
    }
    .actions-text {
        padding-right: 1%;
    }
    .phone {
        padding-top: 0;
    }
    .phone-right-text-container {
        margin-top: -3rem;
    }
    .cart-icon {
        right: 2%;
        bottom: -5%;
    }
}

@media (min-width: 601px) and (max-width: 850px) {
    .ar {
        margin-bottom: 0;
    }

    .cat-canister-container {
        width: 51%;
    }
    .activities .section-heading {
        font-size: 5em;
    }

    .activities-top {
        padding-top: 0;
        /* padding-bottom: 4.8rem; */
    }
    .activities-content {
        padding-bottom: 4.8rem;
    }

    .phone {
        padding-top: 0;
    }
}

@media (min-width: 601px) and (max-width: 782px) {
    body{
        font-size: 10px;
    }
    .ar {
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin-bottom: 3rem;
    }

    .section-heading {
        padding-top: 2.25rem;
    }

    .cat-canister-container {
        right: 0;
        left: auto;
        width: 45%;
    }

    .ar-text-container {
        width: 100%;
    }

    .ar-text {
        padding: 1rem 0;
        width: 62%;
    }
}